[submodule "components/esp-nn"]
	path = components/esp-nn
	url = https://github.com/espressif/esp-nn
[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera
[submodule "components/sscma-micro"]
	path = components/sscma-micro
	url = https://github.com/iChizer0/SSCMA-Micro
