menu "Edgelab Configuration"

    rsource "src/ports/Kconfig"

    config EL_DEBUG
        bool "Log debug"
        default y
        help
            Enable Edgelab debug
    menu "debug options"
        depends on EL_DEBUG
        config EL_DEBUG_COLOR
            bool "color"
            default y
            help
                Enable Edgelab debug color
        config EL_DEBUG_MORE_INFO
            bool "more info"
            default y
            help
                Enable Edgelab debug more info
        config EL_DEBUG_LEVEL
            int "level"
            default 3
            range 0 4
            help
                Edgelab debug level
        config EL_ASSERT
            bool "assert"
            default y
            help
                Enable Edgelab assert
    endmenu


    rsource "src/inference/Kconfig"
    rsource "third_party/Kconfig"

endmenu