CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y

CONFIG_SPIRAM_SPEED_80M=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"


// EdgeLab config
CONFIG_EL_TARGET_ESPRESSIF=y
CONFIG_EL_TFLITE=y
CONFIG_EL_TFLITE_OP_CONV_2D=y
CONFIG_EL_TFLITE_OP_RESHAPE=y
CONFIG_EL_TFLITE_OP_SHAPE=y
CONFIG_EL_TFLITE_OP_PACK=y
CONFIG_EL_TFLITE_OP_PAD=y
CONFIG_EL_TFLITE_OP_PADV2=y
CONFIG_EL_TFLITE_OP_SUB=y
CONFIG_EL_TFLITE_OP_ADD=y
CONFIG_EL_TFLITE_OP_RELU=y
CONFIG_EL_TFLITE_OP_MAX_POOL_2D=y
CONFIG_EL_TFLITE_OP_SPLIT=y
CONFIG_EL_TFLITE_OP_CONCATENATION=y
CONFIG_EL_TFLITE_OP_RESIZE_NEAREST_NEIGHBOR=y
CONFIG_EL_TFLITE_OP_QUANTIZE=y
CONFIG_EL_TFLITE_OP_TRANSPOSE=y
CONFIG_EL_TFLITE_OP_LOGISTIC=y
CONFIG_EL_TFLITE_OP_MUL=y
CONFIG_EL_TFLITE_OP_SPLIT_V=y
CONFIG_EL_TFLITE_OP_STRIDED_SLICE=y
CONFIG_EL_TFLITE_OP_MEAN=y
CONFIG_EL_TFLITE_OP_SOFTMAX=y
CONFIG_EL_TFLITE_OP_DEPTWISE_CONV_2D=y
CONFIG_EL_TFLITE_OP_LEAKY_RELU=y